* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 0 100px;
    background-color: orange;
    color: white;
    width: 100%;
    height: 75px;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    font-weight: 600;
    font-family: cursive;
}

.hdiv {
    display: flex;
    align-items: center;
    gap: 50px;
}

.secondchance {
    padding-bottom: 20px;
    position: relative;
}

.hdiv a {
    border: 2px dashed white;
    border: 2px dashed white;
    background-color: transparent;
    color: white;
    padding: 8px 13px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-decoration: none;
}

header button {
    border: 2px dashed white;
    background-color: transparent;
    color: white;
    padding: 8px 13px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

.hdiv a:hover {
    box-shadow: 0 0 20px 2px white;
    padding: 12px 17px;
    font-size: 20px;
    text-shadow: 0 0 5px black;
}

header button:hover {
    box-shadow: 0 0 20px 2px white;
    padding: 12px 17px;
    font-size: 20px;
    text-shadow: 0 0 5px black;
}

#sec {
    width: 100%;
    height: 300px;
    box-shadow: 0 0 10px black;
    display: flex;
    padding: 0 50px;
    align-items: center;
    gap: 50px;
}

#sec img {
    border-radius: 50%;
    object-fit: cover;
    width: 200px;
    height: 200px;
    border: 2px dashed black;
}

#sec div {
    display: flex;
    flex-direction: column;
}

#sec div h1 {
    margin-bottom: 25px;
}

#sec button {
    width: 200px;
    height: 50px;
    border: 1px solid black;
    border-radius: 15px;
    color: black;
    background-color: orange;
    font-size: 18px;
    font-family: cursive;
    position: absolute;
    right: 3.5%;
    cursor: pointer;
    transition: 0.4s;
}

footer {
    width: 100%;
    background-color: orange;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 {
    color: white;
    font-family: cursive;
}

#sec button:hover {
    width: 210px;
    height: 55px;
    border: none;
    font-size: 19px;
    box-shadow: 0 0 15px black, inset 0 0 10px white;
}

@media screen and (max-width:1000px) {
    #sec {
        flex-direction: column;
        height: 500px;
        text-align: center;
        justify-content: center;
    }

    #sec button {
        position: static;
    }
}

@media screen and (max-width:600px) {
    header {
        height: 150px;
        flex-wrap: wrap;
        justify-content: center;
    }

    header h1 {
        width: 100%;
        text-align: center;
    }

    footer h1 {
        font-size: 22px;
    }

    #sec h2 {
        font-size: 16px;
    }
}

@media screen and (max-width:452px) {
    .hdiv {
        gap: 25px;
    }

    header {
        padding: 0 25px;
    }

    #sec {
        padding: 0 20px;
    }

    footer h1 {
        font-size: 16px;
    }

    #sec h2 {
        font-size: 15px;
        margin-bottom: 5px;
    }

}