* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header {
    display: flex;
    padding: 0 100px;
    background-color: orange;
    color: white;
    width: 100%;
    height: 100px;
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100000000000;
    transition: 1s;
}

.header-hidden {
    transform: translateY(-100%)
}

header h1 {
    font-weight: 600;
    font-family: cursive;
}

.hdiv {
    display: flex;
    align-items: center;
    gap: 50px;
}

.secondchance {
    padding-bottom: 20px;
    position: relative;
}

.hdiv a {
    border: 2px dashed white;
    background-color: transparent;
    color: white;
    padding: 8px 13px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    text-decoration: none;
}

.hdiv a:hover {
    box-shadow: 0 0 20px 2px white;
    padding: 12px 17px;
    font-size: 20px;
    text-shadow: 0 0 5px black;
}

header button {
    border: 2px dashed white;
    background-color: transparent;
    color: white;
    padding: 8px 13px;
    font-size: 18px;
    cursor: pointer;
    transition: 0.2s;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
}

header button:hover {
    box-shadow: 0 0 20px 2px white;
    padding: 12px 17px;
    font-size: 20px;
    text-shadow: 0 0 5px black;
}

.sec1 {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    background-color: transparent;
    color: white;
    padding: 5px 10px;
    cursor: pointer;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 600;
    transition: 0.4s;
}

#sec:hover {
    padding: 5px 20px;
    border-radius: 10px;
    box-shadow: inset 0 0 10px 2px white;
}

#sec img {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border: 2px dashed white;
    border-radius: 50%;
}

.sec {
    display: none;
}

.card {
    width: 250px;
    height: 400px;
    border: none;
    display: flex;
    flex-direction: column;
    position: relative;
    padding: 5px 10px;
    gap: 10px;
    transition: 0.5s;
    overflow: hidden;
}

#cardsec {
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
    margin-top: 25px;
    width: 80%;
}

.card img {
    width: 100%;
    height: 40%;
    object-fit: cover;
    transition: 0.4s;
    padding: 5px 0;
}

.card h1,
.card .prices,
.card h3,
.card p {
    transition: transform 0.4s ease, opacity 0.4s ease;
}

.card h1 {
    font-size: 20px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: -webkit-box;
    line-clamp: 6;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 25px;
    max-height: 30px;
}

.card h3 {
    font-size: 18px;
}

.discount {
    position: absolute;
    color: white;
    right: -25px;
    top: 10px;
    transform: rotate(45deg);
    background-color: red;
    width: 100px;
    height: 30px;
    text-align: center;
    padding: 2px;
    z-index: 1;
    clip-path: polygon(30px 0%, calc(100% - 30px) 0%, 100% 30px, 100% 100%, calc(100% - 20px) 100%, 20px 100%, 0% 100%, 0% 30px);
}

.card p {
    display: -webkit-box;
    line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    line-height: 1.5em;
    height: 4.5em;
    transition: all 0.4s ease;
}


.card:hover img {
    opacity: 0.2;
    transform: scale(1.1);
}

.card:hover .discount {
    display: none !important;
}

.card:hover h1,
.card:hover .prices,
.card:hover h3,
.card:hover p {
    transform: translateY(-150px);
}

.card:hover h1 {
    display: unset;
    line-clamp: unset;
    -webkit-box-orient: unset;
    overflow: unset;
    line-height: unset;
    max-height: unset;
}

.card:hover p {
    display: -webkit-box;
    line-clamp: 6 !important;
    line-height: 20px;
    padding: 5px 0 100px;
}

.card:hover {
    box-shadow: 0 0 25px 5px black;
}

.card button {
    background-color: orange;
    border: 3px dashed white;
    width: 90%;
    height: 50px;
    position: absolute;
    bottom: 20px;
    left: 5%;
    opacity: 0;
    transform: translateY(50px);
    transition: 0.4s ease;
    cursor: pointer;
}

.card:hover button {
    opacity: 1;
    transform: translateY(0);
}

.card button:hover {
    box-shadow: 0 0 15px black;
    font-size: 22px;
    color: white;
    text-shadow: 0 0 5px red;
}

.opa1 {
    display: none;
}

.log {
    display: none;
}

.log1 {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 11;
    background-color: orange;
    width: 400px;
    height: 400px;
    text-align: center;
    padding: 20px;
    justify-content: center;
    gap: 20px;
    border-radius: 25px;
}

.lll {
    font-family: cursive;
}

.log .field {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 5px;
}

.log input {
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 15px;
    background-color: #E8F0FE;
}

.log label {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.logbut {
    background-color: red;
    color: white;
    font-size: 17px;
    border: none;
    cursor: pointer;
    height: 45px;
    border-radius: 25px;
}

.logbut:hover {
    box-shadow: 0 0 15px 2px white;
}

.opa2 {
    display: flex;
    border: 1px solid black;
    flex-direction: column;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    opacity: 1;
    z-index: 11;
    background-color: orange;
    width: 550px;
    height: 600px;
    text-align: center;
    padding: 20px;
}

.opa {
    display: none;
}

.bc {
    display: unset;
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 10;
    background-color: black;
    opacity: 0.9;
}

.mainarea {
    display: flex;
    height: 80%;
    width: 100%;
    gap: 20px;
    padding: 20px 0;
    position: relative;
}

.left {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right {
    width: 50%;
    display: flex;
    flex-direction: column;
    gap: 15px;
}

.right .field {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 5px;
}

.left .field {
    display: flex;
    flex-direction: column;
    text-align: start;
    gap: 5px;
}

.register {
    font-size: 35px;
    font-family: cursive;
}

.mainarea label {
    font-size: 18px;
    font-weight: 600;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.mainarea input {
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 15px;
    background-color: #E8F0FE;
}

.mainarea select {
    height: 35px;
    border: none;
    outline: none;
    border-radius: 10px;
    padding: 0 10px;
    font-size: 15px;
    background-color: #E8F0FE;
}

.done {
    background-color: red;
    color: white;
    font-size: 25px;
    border: none;
    cursor: pointer;
    height: 60px;
    border-radius: 25px;
}

.done:hover {
    box-shadow: inset 0 0 5px black, 0 0 15px 5px white
}

.lol {
    color: red;
    text-shadow: 0 0 5px black;
    font-size: 25px;
    width: 100%;
    position: absolute;
    bottom: 15px;
    left: 50%;
    transform: translate(-50%, 0);
}

.lol1 {
    color: black;
    text-shadow: 0 0 5px black;
    font-size: 19px;
    width: 100%;
    text-align: center;
    position: absolute;
    bottom: -12px;
    left: 50%;
    transform: translate(-50%, 0);
}

.close {
    position: absolute;
    border: none;
    background-color: transparent;
    font-size: 30px;
    right: 25px;
    top: 25px;
    cursor: pointer;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.out {
    display: none;
}

.fordn {
    display: none;
}

#verify-alert {
    animation: slideDown 0.5s ease-out;
    font-family: sans-serif;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.2);
}

.firstclicklol {
    margin-left: 25px;
    padding: 10px 15px;
    background-color: transparent;
    border: 1px solid black;
    border-radius: 3px;
    cursor: pointer;
    transition: 0.3s;
    font-size: 14px;
}

#v-alert {
    position: fixed;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
    top: 0;
    z-index: 999999999999999999;
}

.firstclicklol:hover {
    padding: 13px 18px;
    border: 2px solid black;
    box-shadow: 0 0 20px 5px white;
    font-size: 16px;
}

@keyframes slideDown {
    from {
        transform: translateY(-100%);
    }

    to {
        transform: translateY(0);
    }
}

.main {
    width: 100%;
    min-height: 500px;
    display: flex;
    padding: 25px 50px;
    margin-top: 150px;
    gap: 50px;
}

.categories {
    width: 20%;
    min-height: 200px;
    border-radius: 20px;
    box-shadow: 0 0 15px black;
    background-color: orange;
    position: sticky;
    top: 110px;
    height: fit-content;
    align-self: flex-start;
    padding-bottom: 10px;
    opacity: 0.5;
    transition: 0.5s;
}

.categories:hover {
    opacity: 1;
}

.uppercat {
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5%;
}

.uppercat button {
    background-color: white;
    color: black;
    padding: 10px 25px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: 0.3s;
}

.uppercat button:hover {
    box-shadow: 0 0 10px white;
    padding: 12px 27px;
    font-size: 18px;
}

#brandNames {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px;
    list-style-type: none;
    width: 80%;
    align-items: start;
    gap: 10px;
    max-height: 300px;
    font-family: cursive;
    transition: 1s;
    margin: 0 auto;
}

#brandNames button {
    background-color: white;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
}

#brandNames button:hover {
    padding: 10px 22px;
    font-size: 20px;
    box-shadow: 0 0 10px white;
}

.justbrands {
    background-color: white;
    font-size: 18px;
    padding: 8px 20px;
    border-radius: 10px;
    transition: 0.3s;
    cursor: pointer;
    border: none;
    display: block;
    margin: 0 auto 10px;
    width: 80%;
}

#brandNames {
    display: none;
    list-style: none;
    transition: all 0.3s ease;
}

#brandNames.show-brands {
    display: flex;
}


#searchInput {
    width: 350px;
    border-radius: 15px;
    padding-left: 25px;
    height: 45px;
    font-size: 14px;
    border: none;
    color: black;
    outline: none;
    background-color: white;
    transform: translateX(-50px);
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

#searchInput:focus {
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
    border: 1px solid #ddd;
}

.pagination-container {
    width: 100%;
    display: flex;
    flex-direction: row-reverse;
    gap: 10%;
    align-items: center;
    margin-top: 40px;
    padding: 20px 5%;
}

.pagination-controls {
    display: flex;
    gap: 15px;
    align-items: center;
    font-family: cursive;
}

.pagination-controls select {
    padding: 8px 12px;
    border-radius: 5px;
    border: 2px solid orange;
    font-size: 16px;
    cursor: pointer;

}

.pagination-buttons {
    display: flex;
    gap: 10px;
    align-items: center;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
}

.page-numbers {
    display: flex;
    gap: 5px;
}

.pagination-buttons button,
.page-numbers button {
    padding: 10px 15px;
    border: 1px solid orange;
    background-color: white;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
    font-weight: 600;
}

.pagination-buttons button:hover,
.page-numbers button:hover {
    background-color: orange;
    color: white;
}

.page-btn.active {
    background-color: orange;
    color: white;
    font-size: 18px;
}

.pagination-buttons button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

footer {
    width: 100%;
    background-color: orange;
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}

footer h1 {
    color: white;
    font-family: cursive;
}

@media screen and (max-width:1650px) {
    .uppercat {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    .uppercat button {
        background-color: white;
        color: black;
        padding: 10px 25px;
        border: none;
        border-radius: 10px;
        cursor: pointer;
        transition: 0.3s;
    }

    .uppercat button:hover {
        box-shadow: 0 0 10px white;
        padding: 12px 27px;
        font-size: 18px;
    }

}

@media screen and (max-width:1400px) {
    #brandNames {
        max-height: 1000px;
        gap: 7px;
    }

    header {
        padding: 0 50px;
    }

    #sec h1 {
        padding: 0;
    }

    #searchInput {
        transform: translateX(0);
        width: 200px;
    }

    .hdiv {
        gap: 10px;
    }

    .pagination-buttons {
        position: static;
        text-align: end;
        transform: translateX(0);
    }
}

@media screen and (max-width:850px) {
    .main {
        flex-direction: column;
        align-items: center;
    }

    .categories {
        width: 90%;
        margin: 0 auto;
        position: static;
    }

    .uppercat {
        width: 100%;
        height: 100px;
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    #brandNames {
        max-height: 200px;
        align-items: start;
    }

    .card {
        border: 1px solid #ccc;
    }

    header {
        height: 150px;
        flex-wrap: wrap;
    }

    .hdiv {
        width: 100%;
    }

    .pagination-container {
        display: flex;
        flex-direction: column-reverse;
        height: 100px;
        padding: 0;
    }

    footer h1 {
        font-size: 25px;
    }

    .opa2 {
        top: 60%;
    }
}

@media screen and (max-width:600px) {
    .opa2 {
        width: 95%;
    }
    .mainarea{
        gap: 10px;
    }
    .lol{
        font-size: 20px;
    }
}

@media screen and (max-width:500px) {
    #brandNames {
        max-height: 300px;
        align-items: start;
    }

    .uppercat {
        width: 100%;
        height: 150px;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 5%;
    }

    header {
        padding: 0 15px;
        justify-content: center;
        gap: 20px;
    }

    footer h1 {
        font-size: 22px;
    }

    .main {
        padding: 25px 25px;
    }
    .field{
        width: 100%;
    }
    .mainarea input{
        width: 95%;
    }
}